ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}
p{
  color: red;
}
.note{
  font-size: 20px
}
#id-selector-demo{/*here as we are targettin the attribut id we need to target it wih the tag # before it */
  color: blue;
}
li[value="4"]{
  color: purple;
}
*{
  text-align: center;
}

/* Write your CSS below, don't change the rules above. */
